/* Container styles */
.page-container {
    margin-top: 50px;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 30px;
  }
  
  /* Custom card styles */
  .custom-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Middle buttons styles */
  .middle-button {
    display: block;
    margin: 10px auto;
    text-transform: none;
  }
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Animation classes */
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  
  .fade-in-left {
    animation: fadeInLeft 1s ease-in-out;
  }
  
  .fade-in-right {
    animation: fadeInRight 1s ease-in-out;
  }
  